/* Styles pour la page des employés */
.mat-card {
    margin: 20px;
    padding: 15px;
  }
  
  .mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .mat-card-content {
    font-size: 1rem;
    color: #555;
  }
  
  .button {
    margin-top: 10px;
  }
  
  .mat-button {
    background-color: #1976d2;
    color: white;
  }
  
  .mat-button:hover {
    background-color: #1565c0;
  }
  